In [4]:
import pandas as pd

In [7]:
df = pd.read_csv("bayestest.csv", header=None)

In [8]:
df.head()

    0   1   2  3
0  A1  B2  C3  1
1  A2  B1  C2  2
2  A3  B1  C1  3
3  A1  B2  C3  1
4  A2  B1  C2  2

In [11]:
df = df.rename(columns={0:'First', 1:'Second', 2:'Third', 3:'Target'})

In [17]:
df['Target'].unique()

array([1, 2, 3])

In [32]:
first_a1 = df.loc[:, 'First']=='A1'
class_1 = df.loc[:, 'Target']==1
df.loc[first_a1&class_1]['First'].size

2

In [67]:
test = df.loc[0, df.columns != target_name]

In [68]:
test

First     A1
Second    B2
Third     C3
Name: 0, dtype: object

In [69]:
## Replace 'Target with column name of target'
target_name = 'Target'
# Replace 'test' with PD series that wants to be predicted
test = df.loc[0, df.columns != target_name]
classes = df[target_name].unique()
for target in classes:
    print(target)
    target_prob = []
    for column in df.columns:
        if column != target_name:
            class_mask = df.loc[:, target_name]==target
            column_mask = df.loc[:, column]==test[column]
            total_pos = df[class_mask][column].size
            my_pos = df[class_mask&column_mask][column].size
            target_prob.append(my_pos/total_pos)
            print(target_name + ' ' + str(target) + ', Column ' + str(column) + ", prob: " + str(my_pos/total_pos))
    result_for_class = 1
    for prob in target_prob:
        result_for_class = result_for_class * prob
    print('Probability of class ' + str(target) + ' is ' + str(result_for_class))

1
Target 1, Column First, prob: 0.6666666666666666
Target 1, Column Second, prob: 0.6666666666666666
Target 1, Column Third, prob: 0.6666666666666666
Probability of class 1 is 0.2962962962962963
2
Target 2, Column First, prob: 0.0
Target 2, Column Second, prob: 0.0
Target 2, Column Third, prob: 0.0
Probability of class 2 is 0.0
3
Target 3, Column First, prob: 0.3333333333333333
Target 3, Column Second, prob: 0.3333333333333333
Target 3, Column Third, prob: 0.0
Probability of class 3 is 0.0